*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;

    background-color: #1b1919;
    inline-size: 1200px;
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.content {
    display: flex;
    align-items: end;
    gap: 30px;
}

.content__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 399px;
    height: 100%;
    gap: 26px;
}

.result {
    display: flex;
    flex-direction: column;
    width: 711px;
    grid-area: 16px;
}

.result__video-container {
    position: relative;
    margin-bottom: 16px;
    inline-size: 711px;
    block-size: 386px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-form {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    gap: 5px;
}

.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    padding: 1px;
    border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
    opacity: 1;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__label-text {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: #ffffff;
}

.search-form__textfield {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: text;
    color: #fff;
    background-color: transparent;
    border-inline-start: 1px solid transparent;
    border-inline-end: 1px solid transparent;
    border-block-start: 1px solid #fff;
    border-block-end: 1px solid #fff;
    inline-size: 225px;
    block-size: 27px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 225px;
}

.search-form__textfield::placeholder {
    color: rgb(255 255 255 / 0.7);
    background-color: transparent;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.search-form__fieldset-title {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: #fff;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.title {
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    line-height: 94%;
    text-transform: uppercase;
    min-inline-size: 399px;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 399px;
    height: 298px;
    gap: 30px;
}

.content__list {
    display: flex;
    flex-direction: column;
    min-width: 390px;
    gap: 30px;
}

.cards-list-item-template {
    height: 502px;
}

.content__list-item {
    min-width: 390px;
    min-height: 103px;
}

.content__card-link {
    display: block;
    text-decoration: none;
    color: #fff;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content__video-card:active {
    text-decoration: underline;
}

.content__video-card:hover {
    text-decoration: underline;
}

.content__card-link_current {
    background: #545050;
}

.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    display: -webkit-box;

    overflow: hidden;

    max-width: 196px;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.content__video-card-title:active {
    color: #fff;
    border-color: 1px solid #fff;
    background-color: #545050;
}

.content__video-card-title:hover {
    text-decoration: underline;
}

.content__list-item:focus {
    outline: none;
}

.content__list-item:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__video-card-description {
    display: -webkit-box; /* Включаем Flexbox для WebKit */
    overflow: hidden; /* Скрываем всё, что выходит за границы блока */
    text-overflow: ellipsis; /* Добавляем многоточие в конце последней строки */
    -webkit-box-orient: vertical; /* Устанавливаем вертикальное направление */
    -webkit-line-clamp: 3; /* Ограничиваем текст тремя строками */
}

.content__video-card-thumbnail {
    min-width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    inline-size: 1px;
    block-size: 1px;
    clip-path: inset(50%);
}

/* общие стили кнопок */
.button {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 34px;
    padding: 6px 0;
    text-align: center;
    color: #ffffff;
    border-color: #fff;
    background-color: transparent;
}

.button:active {
    color: #fff;
    border-color: 1px solid #fff;
    background-color: #545050;
}

.button:hover {
    text-decoration: underline;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
}

/* найти */
.search-form__submit-button {
    align-self: flex-end;
    width: 194px;
}

/*показать еще*/
.more-button {
    width: 100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}