*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  padding: 133px 30px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: end;
  gap: 30px;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: 16px;

  width: 711px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  /* background-position: cover; */
  /* object-position: center; */
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list-container {
  height: 534px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
